.divbg {
    height: 50px;
    margin-left: 10px;
    font-size: 11pt;
    color: gray;
    border: 1px solid #707070;
    background: #333333;
    padding: 14px 25px 14px 25px;
    border-radius: 40px;
    text-align: center;
}

.divbg:active {
    margin-left: 15px;
    font-size: 11pt;
    color: black;
    border: 1px solid #707070;
    background: #ffffff;
    padding: 14px 25px 14px 25px;
    border-radius: 40px;
    text-align: center;
}

.activedivbg {
    margin-left: 15px;
    font-size: 11pt;
    color: black;
    border: 1px solid #707070;
    background: #ffffff;
    padding: 14px 25px 14px 25px;
    border-radius: 40px;
    text-align: center;
}

.LabelClorActive {
    color: black;
}

.LabelClor {
    color: rgb(255, 255, 255);
}
