<ion-content>



  <ion-row class="top-margin-head-40">
    <ion-col size="2" style="text-align: center;">
      <img (click)="goBack()" style="height: 20px;
      width: 20px;" src="assets/imgs/left.svg">
    </ion-col>
    <ion-col size="8" style="text-align: center; padding-top: 0px;">
      <ion-text style="font-size: 15pt;">FAQ's</ion-text>
    </ion-col>
    <ion-col size="2">
    </ion-col>
  </ion-row>


  <div style="padding: 0px 20px 20px 20px;" class="margin-top-fixed">

    <div>

      <ion-row>
        <ion-col>
          <ion-label style="font-size: 12pt;">Who Is Eligible To Apply?</ion-label>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-text style="font-size: 8pt;">Although, LEV is culturally Jewish, anyone between the ages of 21-50 can
            enjoy it.
            As we continue to grow
            our database, we hope to expand on this. We are growing and are currently only reviewing applicants who are
            from
            or are living in California, New York, Florida, Texas and Illinois. Sign up for our newsletter to be
            notified
            about updates.</ion-text>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-label style="font-size: 12pt;">What Is The Application Process Look Like?</ion-label>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-text style="font-size: 8pt;">We are looking for applicants who aren’t interested in swiping anymore! You
            know what you want and are ready to find it. Once we release our application - Please provide thorough
            responses to each of the questions and include a photo. Our lead time is currently about 2 weeks. If you are
            accepted, you will receive an email with login information and further instructions. Before your profile is
            published it will be reviewed once more. (We won’t accept grainy photos, or lackluster prompt responses)
          </ion-text>
        </ion-col>
      </ion-row>


      <!-- <ion-row>
        <ion-col>
          <ion-label style="font-size: 12pt;">Are There Any Other Requirements? What Makes You Different?</ion-label>
        </ion-col>
      </ion-row> -->


      <!-- <ion-row>
        <ion-col>
          <ion-text style="font-size: 8pt;">We want to create a space where people are making thoughtful selections. We
            value quality over quantity. Please don’t apply or accept a match if you aren’t willing to adhere to our
            community rules. We will be releasing further information regarding our features as we approach our launch
            date.</ion-text>
        </ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col>
          <ion-label style="font-size: 12pt;">Who Is The Matchmaker?</ion-label>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-text style="font-size: 8pt;">To start, our matches will be suggested by a live human. We are returning to
            the basics. You can reach out through the chat function to offer feedback and make suggestions. We want to
            make this work.</ion-text>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-label style="font-size: 12pt;">How Do You Get A Match?</ion-label>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-text style="font-size: 8pt;">You will receive matches as our matchmaker sees fit. If both parties approve
            then information will be exchanged.</ion-text>
        </ion-col>
      </ion-row>



    </div>





  </div>

</ion-content>