<ion-content>
  <div style="z-index: 99999; width: 100%; background: black; position: fixed">
    <ion-row style="margin-top: 40px">
      <ion-col size="2" style="text-align: center"><img style="    height: 25px;
        width: 25px;" src="assets/imgs/notification.png" (click)="goTONoti()" /> </ion-col>
      <ion-col size="8" style="text-align: center; padding-top: 0px">
        <ion-text style="font-size: 15pt">Hi, {{myUserName}} </ion-text>
      </ion-col>
      <ion-col size="2">
        <!-- <img (click)="showPopup()" style="height: 20px; width: 20px" src="assets/imgs/i.svg" /> -->
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 6px">
      <ion-col style="text-align: center">
        <ion-text style="font-size: 10pt">{{totalMatches}} matches</ion-text>
      </ion-col>
    </ion-row>
  </div>

  <div style="margin-top: 87px;"></div>

  <div style="padding: 12px 20px;" *ngFor="let match of matches let i = index">
    <ion-row>
      <ion-col>
        <div style="position:relavtive;">
          <img (error)="handleImgError($event, match)" style="
          height: 330pt;
          width: 100%;
          object-fit: cover;
          border-radius: 10px;
        " src="{{restService.baseUrlForImg}}{{match.profile_pic_1}}" />
          <ion-icon name="information-outline" style="position: absolute;
          color: #fff;
          font-size: 25px;
          left: 22px;
          top: 20px;" (click)="presentAlert(match)"></ion-icon>
        </div>


      </ion-col>
    </ion-row>

    <div style="
        /* background-color: #302f2f; */
        background-color: #314f40;
        height: auto;
        border-radius: 10px;
        margin-top: 9px;
      ">
      <div style="padding: 15px 0px 0px 15px">
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col>
                <ion-label style="font-size: 11pt; color:white">Name</ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label style="font-size: 11pt; color: white"> {{match.first_name}} {{match.last_name}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- <ion-col size="6" style="text-align: end;margin-right: 0%;padding-right: 10%;"
            (click)="blockorunblockuser(match)">
            <img src="assets/imgs/blocked.png" class="cimg" [class.block]="match.block_status=='Block' || null"><br>
            <span style="font-size: 11pt; color: white" *ngIf="match.block_status=='Block'">unblock</span>
            <span style="font-size: 11pt; color: white" *ngIf="match.block_status!='Block' || null">block</span>
          </ion-col> -->

        </ion-row>

      </div>

      <div style="padding: 15px 0px 0px 15px">
        <ion-row>
          <ion-col>
            <ion-label style="font-size: 11pt; color: white">Location</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label style="font-size: 11pt; color: white">{{match.lives}}</ion-label>
          </ion-col>
        </ion-row>
      </div>

      <ion-row>
        <ion-col>
          <div style="padding: 15px 0px 0px 15px">
            <ion-row>
              <ion-col>
                <ion-label style="font-size: 11pt; color:white">Religion</ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label style="font-size: 11pt; color: white">{{match.system_religions_name}}</ion-label>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>

        <ion-col>
          <div style="padding: 15px 0px 0px 15px">
            <ion-row>
              <ion-col>
                <ion-label style="font-size: 11pt; color: white">Height</ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <!-- <ion-label style="font-size: 11pt; color: #314f40">{{match.height | number:'1.0-1'}} feet</ion-label> -->

                <ion-label style="font-size: 11pt; color: white">{{vhangeHeight(match.height)}} feet</ion-label>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>

      <!-- <div style="padding: 15px 0px 0px 15px">
        <ion-row>
          <ion-col>
            <ion-label style="font-size: 11pt; color: #caff9b">School</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label style="font-size: 11pt; color: white">{{match.school}}</ion-label>
          </ion-col>
        </ion-row>
      </div> -->

      <div style="padding: 15px 15px 40px 15px;">
        <ion-row>
          <ion-col>
            <button class="btn" (click)="goToMessage(match)" [disabled]="buttonDisabled">View
              Profile</button>
            <!-- <button class="btn" *ngIf="match.prompt_replies=='No'" (click)="goToMessage(match)">View
              Profile</button>
            <button class="btn_disable" *ngIf="match.prompt_replies!='No'" (click)="goToMessage(match)">Message</button> -->
          </ion-col>
        </ion-row>
      </div>


    </div>
    <ion-row style="margin-top: -30px;">
      <ion-col>
        <div style="    height: 60px;
        width: 60px;
        border-radius: 30px;
        background: rgb(255, 255, 255);
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;" (click)="crossClick(match,i)">
          <img><img style="height: 20px; width: 20px" src="assets/imgs/closeblack.svg" />
        </div>
      </ion-col>
    </ion-row>

  </div>




  <!-- 
  <ion-fab style="position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 00000;" slot="fixed" >
    <ion-fab-button style="--background: white"><img style="height: 20px; width: 20px"
        src="assets/imgs/closeblack.svg" /></ion-fab-button>
  </ion-fab> -->
</ion-content>

<div [hidden]="matchpopupHidden" style="
    height: 100%;
    width: 100%;
    background-color: #0c293dd9;
    position: absolute;
  ">
  <div style="   left: 10%;
  position: absolute;
  top: 40px;
  width: 80%;
  height: 366px;
  background-color: rgb(0 0 0 / 0%); ">
    <ion-row>
      <ion-col style="padding-top: 10 px; padding-right: 10px; text-align: right">
        <img style="
            height: 15px;
            width: 15px;
            margin-right: 10px;
            margin-top: 14px;
          " src="assets/imgs/close.svg" (click)="hidePopup()" />
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 0px">
      <ion-col style="text-align: center">
        <img style="    width: 300px;
        height: 190px;" src="assets/imgs/logo.svg" />
      </ion-col>
    </ion-row>

    <div style="
        padding: 15px;
        border: 2px solid white;
        text-align: center;
        margin: 17px;
      ">
      <ion-label>Mutual matches will expire within 6 days.</ion-label>
    </div>

    <div style="padding-left: 13px; padding-right: 13px; margin-top: 28px">
      <ion-row>
        <ion-col size="9" style="padding-top: 8px">
          <ion-text style="font-size: 10pt">Close the match</ion-text>
        </ion-col>

        <ion-col size="3" style="text-align: right">
          <ion-toggle checked="false" (ionChange)="closeMatch($event)" [class.togglePaddClass]="togglePlatformAndroid">
          </ion-toggle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="9" style="padding-top: 8px">
          <ion-text style="font-size: 10pt">Conversation continued off the app</ion-text>
        </ion-col>

        <ion-col size="3" style="text-align: right">
          <ion-toggle checked="false" (ionChange)="openChat($event)" [class.togglePaddClass]="togglePlatformAndroid">
          </ion-toggle>
        </ion-col>
      </ion-row>
    </div>
  </div>
</div>