.sc-ion-input-md-h {
    --padding-top: 13px;
    --padding-end: 13px;
    --padding-bottom: 13px;
    --padding-start: 13px;
    font-size: inherit;
}

.sc-ion-input-ios-h {
    --padding-top: 13px;
    --padding-end: 13px;
    --padding-bottom: 13px;
    --padding-start: 13px;
    font-size: inherit;
}

.btn {
    background: #ffffff 0% 0% no-repeat padding-box;
    color: black;
    font-size: 14pt;
    box-shadow: 0px 4px 10px #0000001f;
    border-radius: 7px;
    opacity: 1;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 40pt;
}

p {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
}


.numberDiv1 {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #000000b0;
    text-align: center;
    padding-top: 3px;
}

.numberDiv2 {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #000000b0;
    text-align: center;
    padding-top: 3px;
}

.numberDiv3 {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #615d5db0;
    text-align: center;
    padding-top: 3px;
}

.redclass {
    color: red;
}
