<ion-content>

  <img (click)="goToBack()" style="width: 20px;
  margin-left: 30px;" src="assets/imgs/left.svg" class="top-margin-head-40">

  <div style="padding: 20px;" class="margin-top-fixed">

    <ion-row style="margin-top: 20px;">
      <ion-col style="text-align: center;">
        <img style="    width: 300px;
        height: 190px;" src="assets/imgs/logo.svg"> <br>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px;">
      <ion-col>
        <ion-label style="font-size: 16pt;">Enter Your Verification Code</ion-label> <br>

      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 20px;">
      <ion-col>
        <ion-text style="font-size: 9pt;">Enter your 4 digit verification OTP</ion-text>

      </ion-col>
    </ion-row>


    <ion-row style="margin-top: 0px;">
      <ion-col>
        <ion-label style="font-size: 10pt;">Sent to {{phoneNumber}}</ion-label>
        <ion-text style="font-size: 10pt; margin-left: 10px;" (click)="editNum()">Edit</ion-text>

      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 50px;">
      <ion-col size="3" style="text-align:  -webkit-center;;">

        <ion-input type="tel" class="inp" style="height: 40pt;
        width: 40pt;" placeholder="0" [(ngModel)]="otp1" maxlength="1" #input1 (ionChange)="inp1Change($event)">
        </ion-input>

      </ion-col>

      <ion-col size="3" style="text-align:  -webkit-center;;">

        <ion-input type="tel" class="inp" style="height: 40pt;
        width: 40pt;" placeholder="0" [(ngModel)]="otp2" maxlength="1" #input2 (ionChange)="inp2Change($event)">
        </ion-input>

      </ion-col>

      <ion-col size="3" style="text-align:  -webkit-center;;">

        <ion-input type="tel" class="inp" style="height: 40pt;
        width: 40pt;" placeholder="0" [(ngModel)]="otp3" maxlength="1" #input3 (ionChange)="inp3Change($event)">
        </ion-input>

      </ion-col>

      <ion-col size="3" style="text-align:  -webkit-center;;">

        <ion-input type="tel" class="inp" style="height: 40pt;
        width: 40pt;" placeholder="0" [(ngModel)]="otp4" maxlength="1" #input4 (ionChange)="inp4Change($event)">
        </ion-input>

      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 20px;">
      <ion-col>
        <ion-label style="font-size: 8pt;">Didn't receive code? </ion-label>
        <ion-text style="font-size: 10pt; margin-left: 10px;" (click)="resendOTP()">Resend</ion-text>

      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 30px;">
      <ion-col style="text-align: center;">
        <button (click)="goToProfile1()" style="margin-bottom: 12px;" class="btn">Confirm</button>
      </ion-col>
    </ion-row>

  </div>




</ion-content>