<ion-content>




  <div class="v-center-s" style="padding: 20px;">

    <ion-row>
      <ion-col style="text-align: center;">
        <img style="    width: 300px;
        height: 190px;" src="assets/imgs/logo.svg">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: -webkit-center;">

        <p style="width: 95px; font-size: 10pt;">Welcome to LEV! writing writing writi;lakd;'fka';dkf a;'kdf'ak'd;fka
          ;adfk;'ak;'dfk</p>


      </ion-col>
    </ion-row>

    <ion-row style="    margin-top: 0px;
      margin-bottom: 0px;">
      <ion-col style="text-align: center;">
        <button style="     width: 59%;
          background: none;
          margin-top: 10px;
          font-size: 10px;
          border: 2px solid white;
          border-radius: 48px;
          height: 48px;
          padding: 16px;"> Welcome To LEV</button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>