p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sc-ion-input-md-h {
    --padding-top: 13px;
    --padding-end: 13px;
    --padding-bottom: 13px;
    --padding-start: 13px;
    font-size: inherit;
}

.sc-ion-input-ios-h {
    --padding-top: 13px;
    --padding-end: 13px;
    --padding-bottom: 13px;
    --padding-start: 13px;
    font-size: inherit;
}

.wrapper{
 width: 90%;
 margin: 5% auto;
}
.thead{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.flex-c{
    display:flex;
    align-items:center;
    margin-top:6%;
}
.lbl{
    margin-left:3%;
    color: #fff;
    font-size: 12px;
}
.check{
    --background: #fff;
      --background-checked: #fff;
      --checkmark-color: #000;
      --border-color-checked: #fff;
      --size: 12px;
      --border-color: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 10px 0px;
  }
  .desc-area{
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-top: 3%;
  }
  .btn {
    --background: #172A36 0% 0% no-repeat padding-box;
    font-size: 14pt;
    box-shadow: 0px 4px 10px #0000001f;
    border-radius: 10px;
    opacity: 1;
    width: 100%;
    color: #ffffff;
    margin-top: 10%;
  }