<ion-content>

  <ion-row class="top-margin-head-40">
    <ion-col size="3" style="text-align: left; padding-left: 10px;">
      <img (click)="goToBack()" style="width: 20px;
    height: 20px;" src="assets/imgs/left.svg">
    </ion-col>
    <ion-col size="6" style="text-align: center;">

    </ion-col>
    <ion-col size="3">

    </ion-col>
  </ion-row>


  <div style="padding: 0px 20px 20px 20px;" class="margin-top-fixed">

    <ion-row style="margin-top: 40px;">
      <ion-col>

        <ion-text style="font-size: 9pt;">The word “LEV” is derived from a native word meaning heart. We believe that
          the person you decide to share and create a life with is a significant decision - and our hope is that LEV
          will help you navigate through this process and keep it all together.
        </ion-text>

      </ion-col>
    </ion-row>


    <div style=" margin-top: 40px;">

      <ion-row>
        <ion-col size="3" style="text-align: -webkit-center;">
          <div class="numberDiv"><label>1</label></div>
        </ion-col>

        <ion-col size="9" style="padding-top: 11px;">
          <label>Your Profile</label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3" style="text-align: -webkit-center;">
          <div class="numberDiv"><label>2</label></div>
        </ion-col>

        <ion-col size="9" style="padding-top: 11px;">
          <label>About you</label>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="3" style="text-align: -webkit-center;">
          <div class="numberDiv"><label>3</label></div>
        </ion-col>

        <ion-col size="9" style="padding-top: 11px;">
          <label>LEV Rules</label>
        </ion-col>
      </ion-row>





    </div>







    <ion-row style="margin-top: 30px;">
      <ion-col style="text-align: left;">
        <button (click)="letsBegin()" style="margin-bottom: 12px;" class="btn">Let's Begin!</button>
      </ion-col>
    </ion-row>

  </div>




</ion-content>