<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <div class="closeBtn">
      <img (click)="dissmissModal()" src="/assets/icon/close.svg" alt="" />
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="row">
    <div class="col">
      <ion-slides pager="false" [options]="slideOpts">
        <ion-slide *ngFor="let img of images">
          <img class="houseImage" src="{{ img.image }}" alt="" />
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
