<ion-content>



  <ion-row class="top-margin-head-40">
    <ion-col size="2" style="text-align: center;">
      <img (click)="goBack()" style="height: 20px;
      width: 20px;" src="assets/imgs/left.svg">

    </ion-col>

    <ion-col size="8" style="text-align: center;">
      <ion-text>Preference</ion-text>

    </ion-col>

    <ion-col size="2">

    </ion-col>
  </ion-row>



  <div style="padding: 20px;" class="margin-top-fixed">

    <ion-row (click)="goToInterestedIn()">
      <ion-col size="8">
        <p style="font-size:10pt;">Interested In</p>
      </ion-col>

      <ion-col size="4" style="text-align: right;">
        <img style="height: 15px;
                  width: 15px;" src="assets/imgs/right.svg">
      </ion-col>

    </ion-row>

    <hr style="       margin-bottom: 12px; margin-top: 12px;
    width: 100%;
    border-bottom: 1px solid white;">

    <ion-row (click)="goToMaritalStatus()">
      <ion-col size="8">
        <p style="font-size:10pt;">Martial Status</p>
      </ion-col>

      <ion-col size="4" style="text-align: right;">
        <img style="height: 15px;
              width: 15px;" src="assets/imgs/right.svg">
      </ion-col>

    </ion-row>

    <hr style="    margin-bottom: 12px; margin-top: 12px;
width: 100%;
border-bottom: 1px solid white;">

    <ion-row (click)="goToAge()">
      <ion-col size="8">
        <p style="font-size:10pt;">Age Range</p>
      </ion-col>

      <ion-col size="4" style="text-align: right;">
        <img style="height: 15px;
              width: 15px;" src="assets/imgs/right.svg">
      </ion-col>

    </ion-row>

    <hr style="    margin-bottom: 12px; margin-top: 12px;
width: 100%;
border-bottom: 1px solid white;">



    <ion-row (click)="goToReligion()">
      <ion-col size="8">
        <p style="font-size:10pt;">Religion</p>
      </ion-col>

      <ion-col size="4" style="text-align: right;">
        <img style="height: 15px;
                  width: 15px;" src="assets/imgs/right.svg">
      </ion-col>

    </ion-row>

    <hr style="    margin-bottom: 12px; margin-top: 12px;
    width: 100%;
    border-bottom: 1px solid white;">





    <ion-row (click)="goToKosher()">
      <ion-col size="8">
        <p style="font-size:10pt;">Kosher</p>
      </ion-col>

      <ion-col size="4" style="text-align: right;">
        <img style="height: 15px;
              width: 15px;" src="assets/imgs/right.svg">
      </ion-col>

    </ion-row>

    <hr style="    margin-bottom: 12px; margin-top: 12px;
width: 100%;
border-bottom: 1px solid white;">





    <ion-row (click)="goToEthnicity()">
      <ion-col size="8">
        <p style="font-size:10pt;">Ethnicity</p>
      </ion-col>

      <ion-col size="4" style="text-align: right;">
        <img style="height: 15px;
              width: 15px;" src="assets/imgs/right.svg">
      </ion-col>

    </ion-row>




  </div>


</ion-content>