/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Poppin-reguler";
  font-style: normal;
  font-weight: lighter;
  src: url("assets/fonts/Poppins-Regular.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

ion-input {
  font-family: "Poppin-reguler" !important;
}

///-------------------

@font-face {
  font-family: "Roxborough-CF-medium";
  font-style: normal;

  src: url("assets/fonts/Roxborough-CF-medium.ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

p,
button,
h2 {
  font-family: "Roxborough-CF-medium" !important;
}

@font-face {
  font-family: "Poppin-reg";
  font-style: normal;
  font-weight: lighter;
  src: url("assets/fonts/Poppins-Regular.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
ion-text {
  font-family: "Poppin-reg" !important;
}

@font-face {
  font-family: "Poppins-Medium";
  font-style: normal;
  font-weight: bold;
  src: url("assets/fonts/Poppins-Medium.ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

ion-label {
  font-family: "Poppins-Medium" !important;
}

@font-face {
  font-family: "Poppin-semibolc";
  font-style: normal;
  font-weight: bold;
  src: url("assets/fonts/Poppins-SemiBold.ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h3 {
  font-family: "Poppin-semibolc" !important;
}

@font-face {
  font-family: "Poppin-light";
  font-style: normal;
  src: url("assets/fonts/Poppins-Light.ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

label {
  font-family: "Poppin-light" !important;
}

ion-content {
  // --background: url("assets/imgs/bgS.svg") 0 0/100% 100% no-repeat;

  --background: #000000;
}
.my-custom-alert .alert-wrapper {
  background-color: #fff !important; /* Example: Change background color */
  color: #000 !important;
  font-family: "Poppins-Medium" !important; 
}

.my-custom-alert .alert-button {
  color:#13322D !important; /* Example: Change button text color */
}
.my-custom-alert .alert-message.sc-ion-alert-ios{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

//alert csss for match page///
.custom-alertclass .alert-wrapper.sc-ion-alert-md {
  background:#13322D !important;
  font-family: "Poppin-reg" !important;
  border-radius: 10px !important;
}
.custom-alertclass .alert-head.sc-ion-alert-md {
  padding-top: 15px !important;
  padding-bottom: 5px !important;
  text-align: start; 
}
.custom-alertclass .alert-title.sc-ion-alert-md, .alert-title.sc-ion-alert-ios{
  color: #ffffff !important;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppin-reg" !important;
}
.custom-alertclass .alert-message.sc-ion-alert-md , .alert-message.sc-ion-alert-ios{
  padding-bottom: 0px !important;
  color: #ffffff;
  font-size: 14px !important;
}
.custom-alertclass .alert-button-group.sc-ion-alert-md{
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.custom-alertclass .alert-button.sc-ion-alert-md ,.alert-button.sc-ion-alert-ios {
  color: #fff !important;
  font-family: "Poppin-reg" !important;
  border-top: 0px !important;
}
//-----------------------------------------------
////alertmodal/////
ion-alert.custom-alert {
  --backdrop-opacity: 0.7;
  // background: #314f40;
}
.alert-head.sc-ion-alert-ios {
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 1px !important;
    padding-bottom: 3px !important;
  text-align: center;
}
.alert-message.sc-ion-alert-ios:empty {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 2px !important;
}
.custom-alert .alert-button-group {
  padding: 8px;
}

button.alert-button.alert-button-confirm {
  // background-color: #314f40;
  color: #fff;
}
.custom-alert button.alert-button.alert-button-confirm {
  // background-color: #314f40;
  // color: #13322D !important;
}
.md button.alert-button.alert-button-confirm {
  border-radius: 4px;
}
.alert-wrapper.sc-ion-alert-ios {
  border-radius: 13px;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
  background-color: #13322D;
}
.ios .custom-alert button.alert-button {
  border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2)
}

.ios button.alert-button.alert-button-cancel {
  border-right: 0;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
  color: #fff;
}
.alert-button.sc-ion-alert-ios:last-child {
  border-right: 0;
  font-weight: normal;
}

.ios button.alert-button.alert-button-confirm {
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
}
/// //////////////
@media (orientation: portrait) {
  .v-center {
    width: 100%;
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
  }
}

@media (orientation: landscape) {
  .v-center {
    width: 100%;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
}

@media (orientation: portrait) {
  .bottomset {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
  }
}

@media (orientation: landscape) {
  .bottomset {
    margin-bottom: 16px;
    text-align: center;
    width: 100%;
  }
}

//---------------------------------------------

ion-radio {
  --color: red;
  --color-checked: red;
}

//----------------------------

ion-input,
ion-textarea {
  --color: white !important;
}

//----------------------------

@media (orientation: portrait) {
  .center {
    width: 89%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (orientation: landscape) {
  .center {
    margin-top: 110px;
  }
}

@media (orientation: portrait) {
  .center_tab1 {
    width: 89%;
    position: absolute;
    left: 50%;
    top: 240px;
    transform: translate(-50%, -50%);
  }
}

@media (orientation: landscape) {
  .center_tab1 {
    margin-top: 110px;
  }
}

p,
ion-text,
ion-label,
button,
p,
label,
h2,
h6 {
  color: white;
}

h6 {
  display: block;
  font-size: 15px;
  margin-block-start: 9px;
  margin-block-end: 0em;
  margin-inline-start: 4.5px;
  margin-inline-end: 0px;
  font-weight: lighter;
}

.sample {
  width: 20px;
  margin-top: 0px;
  ion-buttons {
    float: left;
  }
  ion-button {
    padding: 0px;
    width: 20px !important;
    height: 20px !important;
    display: contents;
  }
  ion-icon {
    padding: 0px;
    width: 20px;
    height: 20px;
    color: #c2bebe !important;

    &.filled {
      color: #ffc107 !important;
    }
  }
}

.sample_small {
  width: 20px;
  margin-top: 0px;
  ion-buttons {
    float: right;
  }
  ion-button {
    padding: 0px;
    width: 8px !important;
    height: 8px !important;
    display: contents;
  }
  ion-icon {
    padding: 0px;
    width: 8px;
    height: 8px;
    color: #c2bebe !important;
    &.filled {
      color: #ffc107 !important;
    }
  }
}

.sample_small_tab {
  width: 28px;
  margin-top: 0px;
  ion-buttons {
    float: left;
  }
  ion-button {
    padding: 0px;
    width: 12px !important;
    height: 12px !important;
    display: contents;
  }
  ion-icon {
    padding: 0px;
    width: 12px;
    height: 12px;
    color: #c2bebe !important;

    &.filled {
      color: #ffc107 !important;
    }
  }
}

.sc-ion-buttons-md-s .button-has-icon-only.button-clear {
  /* --padding-top: 12px; */
  /* --padding-end: 12px; */
  /* --padding-bottom: 12px; */
  --padding-start: 0px;
  /* --border-radius: 50%; */
  /* margin-left: 0; */
  /* margin-right: 0; */
  /* margin-top: 0; */
  /* margin-bottom: 0; */
  /* width: 48px; */
  /* height: 48px; */
}

.sc-ion-buttons-md-s .button-has-icon-only.button-clear {
  --padding-top: 12px;
  --padding-end: 2px;
  --padding-bottom: 12px;
  --padding-start: 12px;
  --border-radius: 50%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 48px;
  height: 48px;
}
.sc-ion-buttons-md-s .button-has-icon-only.button-clear {
  --padding-top: 12px;
  --padding-end: -3px;
  --padding-bottom: 12px;
  --padding-start: 4px;
  --border-radius: 50%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 48px;
  height: 48px;
}

.sc-ion-textarea-ios-h {
  --padding-top: 10px;
  --padding-end: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
  font-size: inherit;
}

.sc-ion-textarea-md-h {
  --padding-top: 10px;
  --padding-end: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
  font-size: inherit;
}

.top-margin-head-40 {
  padding-top: 30px;
  position: fixed;
  width: 100%;
  background: black;
  z-index: 99999;
}

// iphone X , XS, 11 Pro, 12 Mini //
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .top-margin-head-40 {
    position: fixed;
    width: 100%;
    padding-top: 55px;
    background: black;
    z-index: 99999;
  }
}

// iphone 12, 12 Pro //
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .top-margin-head-40 {
    position: fixed;
    width: 100%;
    padding-top: 55px;
    background: black;
    z-index: 99999;
  }
}

// iphone XR, 11 //
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .top-margin-head-40 {
    position: fixed;
    width: 100%;
    padding-top: 55px;
    background: black;
    z-index: 99999;
  }
}

// iphone XS Max, 11 Pro Max //
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .top-margin-head-40 {
    position: fixed;
    width: 100%;
    padding-top: 55px;
    background: black;
    z-index: 99999;
  }
}

// iphone 12 Pro Max //
@media only screen and (min-device-width: 428px) and (max-device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  .top-margin-head-40 {
    position: fixed;
    width: 100%;
    padding-top: 55px;
    background: black;
    z-index: 99999;
  }
}

.inp {
  padding: 10px;
  // background: #2d2d39;
  box-shadow: 0px 4px 10px #0000001f;

  opacity: 1;
}

.inp:focus-within {
  background: #2d2d39;
}

//----------------------

.inp-bottom-radius {
  padding: 10px;
  // background: #2d2d39;
  box-shadow: 0px 4px 10px #0000001f;

  opacity: 1;
}
.inp-bottom-radius:focus-within {
  border-radius: 0px 0px 8px 8px;
  background: #2d2d39;
}

//---------------------------

.inp-top-radius {
  padding: 10px;
  // background: #2d2d39;
  box-shadow: 0px 4px 10px #0000001f;

  opacity: 1;
}
.inp-top-radius:focus-within {
  border-radius: 8px 8px 0px 0px;
  background: #2d2d39;
}

//----------------------

.togglePaddClass {
  padding: 5px;
}

ion-toggle {
  border: 2px solid white;
  --background: rgb(0 0 0);
  --background-checked: #000000;
  --handle-background: #6c6c6c;
  --handle-background-checked: #ffffff;
  border-radius: 21px;
}

//----------------------

.capitalize {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.swiper-pagination-bullet {
  background: red !important;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  /* opacity: 0.2; */
}

.native-textarea.sc-ion-textarea-md {
  height: 160px;
  border-radius: var(--border-radius);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: var(--padding-start);
  padding-right: var(--padding-end);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  text-decoration: inherit;
  text-indent: inherit;
  text-overflow: inherit;
  text-transform: inherit;
  text-align: inherit;
  white-space: inherit;
  color: inherit;
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border: 0;
  outline: none;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.native-textarea.sc-ion-textarea-ios {
  height: 160px;
  border-radius: var(--border-radius);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: var(--padding-start);
  padding-right: var(--padding-end);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  text-decoration: inherit;
  text-indent: inherit;
  text-overflow: inherit;
  text-transform: inherit;
  text-align: inherit;
  white-space: inherit;
  color: inherit;
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border: 0;
  outline: none;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.test {
  margin-bottom: 500px !important;
  outline: none !important;
  visibility: visible !important;
  resize: none !important;
  box-shadow: none !important;
  overflow: visible !important;
  background: none !important;
  opacity: 1 !important;

  top: auto !important;
  right: 20px !important;
  bottom: 65px !important;
  left: auto !important;
  position: fixed !important;
  border: 0 !important;
  min-height: 64px !important;
  min-width: 67px !important;
  max-height: 64px !important;
  max-width: 67px !important;
  padding: 0 !important;
  margin: 0 !important;
  -moz-transition-property: none !important;
  -webkit-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
  transform: none !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  width: 67px !important;
  height: 64px !important;
  display: block !important;
  z-index: 1000001 !important;
  background-color: transparent !important;
  cursor: none !important;
  float: none !important;
  border-radius: unset !important;
  pointer-events: auto !important;
  clip: auto !important;
}

.margin-top-fixed {
  margin-top: 110px;
}

.map-model {
  --height: 518px;
  --border-radius: 0px;
  padding: 20px;
  background-color: #13322D;
}
