<ion-content style="--background:  #13322D">

  <!-- #314f40 -->
  <img style="width: 300px;
  height: 190px;" class="v-center" src="assets/imgs/logo.svg">



  <div style="width: 100%;
position: absolute;
bottom: 80px;
text-align: center;">


    <button (click)="goTogettingstart()" style="margin-bottom: 12px;" class="btn">Apply</button>

    <br>
    <label style="font-size: 14pt;">Already a member?</label>
    <label style="font-size: 14pt; margin-left: 10px;" (click)="goToLogin()">Login</label>



  </div>









</ion-content>